
/* ==========================================================================
    HELPER CLASSES
   ========================================================================== */

/* Clearfix the parent of floated elements to prevent it collapsing. */
.clearfix {
    @include clearfix;
}

/* Hide an element but leave it available to speaking browsers. */
.visuallyhidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

/* Make visuallyhidden elements focusable with a keyboard. */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    clip: auto;
    height: auto;
    width: auto;
    margin: 0;
    overflow: visible;
}

/* Image replacement. */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/* Mute an object by reducing its opacity. */
.muted {
    filter: alpha(opacity = 70)!important;
    opacity: 0.7!important;
}

/* Add/remove floats */
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.float-none {
    float: none !important;
}
