
//
// The following are global defaults, DON'T CHANGE THEM HERE!
//
// Override them in the UI template; /ui/_variables.scss like this:
//
// $serif-font-family: "Comic sans";
//
// or...
//
// $brand-color: #bada55;
//
//


// ==========================================================================
//  DEFAULT FONT STACKS
// ==========================================================================

$sans-family:         sans-serif;
$serif-family:          serif;
$code-font-family:      monospace;

// Our font stacks
$root-family:           $sans-family;
$button-family:         $sans-family;
$heading-family:        $sans-family;

// ==========================================================================
//  ROOT RULES
// ==========================================================================

// Root element colours.
$root-color:            rgb(51,51,51);
$root-background:       rgb(255,255,255);

// Default font-size in %, equates to 1em or 16px.
$root-size:             100;
$root-lineheight:       1.618;

// Default font-weight.
$root-weight:           300;


// ==========================================================================
//  GLOBAL DEFAULTS
// ==========================================================================

// Also set a body background, to allow for faux footers.
$body-background:       rgb(255,255,255);

// Spacing units derived from lineheight; they scale with root-font-size.
$single-spacing-unit:   ($root-lineheight / $root-size) * (100em);
$half-spacing-unit:     ($root-lineheight / $root-size) * (50em);
$double-spacing-unit:   ($root-lineheight / $root-size) * (200em);

// Constrain content widths to maintain an optimal measure (line-length).
$wrapper-width:         45em;


// ==========================================================================
//  BRANDING
// ==========================================================================

// Brand palette
$brand-color: 			rgb(31, 117, 204);
//$brand-color-secondary: ;
//$brand-color-tertiary:	;

// Default colour for objects and borders.
$brand-background:      rgb(252,252,252);
$brand-border:          rgb(238,238,238);

// Link colours.
$link-color: 			$brand-color;
$link-color-hover:      darken($brand-color, 10%);

// The default size of rounded corners.
$brand-radius:          3px;

// UI elements colours, used in badges, buttons, labels, etc.
$brand-danger:          #d9534f;
$brand-info:            #5bc0de;
$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;


// ==========================================================================
//  HEADINGS
// ==========================================================================

// Heading sizes specified in em.
// Don't spec them in px or % or things will break... horribly!
// Embrace ems. Free yourself.
$h1-size:          	    3em;
$h2-size:               2.25em;
$h3-size:               1.5em;
$h4-size:               1.3125em;
$h5-size:               1.125em;
$h6-size:               1em;

// Heading weight.
$heading-weight:        300;


// ==========================================================================
//  TYPE SIZING
// ==========================================================================

// Type (up)sizing classes.
$giga-size:             6em;
$mega-size:             4.5em;
$kilo-size:             3em;

// Type (down)sizing classes.
$milli-size:            0.83em;
$micro-size:            0.75em;

// ==========================================================================
//  TYPOGRAPHY
// ==========================================================================

// Default quote marks. If you're French you'll want to change these.
$open-quote:            \201C;
$close-quote:           \201D;


// ==========================================================================
//  DEFAULT BREAKPOINTS
// ==========================================================================

// Specifying breakpoints in ems accounts for user-initiated resizes.
$palm:                  20em;
$lap:                   45em;
$portable:              62em;
$desk:                  90em;
$deskwide:              120em;

// Include namespaced widths at each breakpoint?
$use-breakpoints:       true;


