
/* ==========================================================================
   	OPTIONAL MODULES
   ========================================================================== */

// Enable any of the following by switching the variable to true.
$use-breadcrumbs:       true;
$use-buttons:           true;
$use-fluid-type:        true;
$use-grid:              true;
$use-joomla-modules:    true;
$use-labels:            true;
$use-media:             true;
$use-nav:               true;
$use-pagination:        true;
$use-rows:              true;
$use-tables:            true;
$use-wells:             true;
$use-wrapper:           true;


/* ==========================================================================
   	OVERRIDE VARIABLES
   ========================================================================== */

//
// Place any variables that should override framework defaults here.
//
// e.g.;
//
// $root-font-family: Helvetica, "Helvetica Neue", sans-serif!;
//
// or:
//
// $heading-font-weight: 600;
//
$sans-font-family: 		'Lato', sans-serif;
$brand-color: 			#cd6e57;
$root-font-weight:      300;
$heading-font-weight:   300;

/* Sets the html background dark for a faux footer. */
$root-background:      rgb(41,41,41);
$body-background:      rgb(255,255,255);


/* ==========================================================================
   	CUSTOM VARIABLES
   ========================================================================== */

//
// Place your own variables here.
//
// E.g.:
//
// $sandwich-filling:    bacon!default;
//
