
/* ==========================================================================
    BANNER
   ========================================================================== */

.banner-row {

	background: url(../images/tundra.jpg) center center;
	background-size: cover;

	h1,
	h2 {
		color: #fff;
	}

	/* The download button */
	.download-link {
		@extend .btn;
		@extend .btn-success;
	}

	/* The GitHub button */
	.respository-link {
		@extend .btn;
	}

	.content {
		@include transition(padding .3s ease);

		@include media-query(lap) {
			padding: $single-spacing-unit*1.5 0 $half-spacing-unit;
		}

		@include media-query(desk) {
			padding: $single-spacing-unit*2 0 $single-spacing-unit;
		}

		@include media-query(desk-wide) {
			padding: $single-spacing-unit*3 0 $double-spacing-unit;
		}
	}
}
