
/* ==========================================================================
    BREADCRUMBS
   ========================================================================== */

.breadcrumb {
    @extend .nav;
    @extend .milli;
    margin-bottom: 0;

    > li + li:before {
        content:"\00BB" "\00A0";
        padding: 0 $half-spacing-unit / 4;
    }
}

