
/* ==========================================================================
    FLUID TYPE
   ========================================================================== */

/* Slowly increase root font size with viewport */
html {

	@include media-query(desk) {
		font-size: $root-size * 1.063%; // 17px if the root was 16px
	}

	@include media-query(desk-wide) {
		font-size: $root-size * 1.125%; // 18px if the root was 16px
	}

}
