
/* ==========================================================================
    ROWS
   ========================================================================== */

/* Gives the content sections some breathing space */
[class*="-row"] {
	@include transition(padding .3s ease);
	padding: 0 $single-spacing-unit;

	.content {
		padding: $single-spacing-unit 0 0;

		@include media-query(desk) {
			padding: $single-spacing-unit*1.5 0 $half-spacing-unit;
		}

		@include media-query(desk-wide) {
			padding: $single-spacing-unit*2 0 $single-spacing-unit;
		}
	}
}
