
/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* BLOCK QUOTES */
/* Borders are nice, sometimes. */
blockquote {
    border-left: 4px solid lighten($brand-color, 10%);
    font-style: italic;
}

cite {
	font-style: normal;
}

/* EMPHATIC ELEMENTS */
/* We reset the root font size to 300, so better wind down boldness. */
b,
strong {
    font-weight: 400;
}
