@if $use-colours == true {

/* ==========================================================================
    COLOURS
   ========================================================================== */

/*
 * Bootstrap's UI colours all follow a predictable naming convention, so we
 * can colour buttons, labels, badges, etc. in one hit with the following
 * selectors. Nice.
 */

    [class*="-primary"] {
        background-color: $brand-primary;
        color: #fff;
    }

    [class*="-success"] {
        background-color: $brand-success;
        color: #fff;
    }

    [class*="-danger"] {
        background-color: $brand-danger;
        color: #fff;
    }
    [class*="-info"] {
        background-color: $brand-info;
        color: #fff;
    }
    [class*="-warning"] {
        background-color: $brand-warning;
        color: #fff;
    }
}//endif
