@if $use-grid == true {

/* ==========================================================================
    GRID
   ========================================================================== */

	.grid-item {
	    display: inline-block;
	    margin-right: -.25em;
	    width: 100%;
	    vertical-align: top;
	}

}//endif
