
//
// The following are global defaults, DON'T CHANGE THEM HERE!
//
// Override them in the UI template; /ui/_variables.scss like this:
//
// $serif-font-family: "Comic sans";
//
// or...
//
// $brand-color: #bada55;
//
//


/* ==========================================================================
    DEFAULT FONT STACKS
   ========================================================================== */

$sans-font-family:      sans-serif!default;
$serif-font-family:     serif!default;
$code-font-family:      monospace!default;

/* ==========================================================================
    ROOT RULES
   ========================================================================== */

/* Default font-size in %, equates to 1em or 16px. */
$root-font-size:        100!default;
$root-line-height:      1.618!default;

/* Our font stacks. */
$root-font-family:      $sans-font-family!default;
$button-font-family:    $sans-font-family!default;
$heading-font-family:   $sans-font-family!default;

/* Default font-weight. */
$root-font-weight:      400!default;

/* Root element colours. */
$root-font-color:       rgb(51,51,51)!default;
$root-background:       rgb(255,255,255)!default;

/* Also set a body background, to allow for faux footers. */
$body-background:       rgb(255,255,255)!default;

/* Spacing units derived from line-height; they scale with root-font-size. */
$single-spacing-unit:   ($root-line-height / $root-font-size) * (100em)!default;
$half-spacing-unit:     ($root-line-height / $root-font-size) * (50em)!default;
$double-spacing-unit:   ($root-line-height / $root-font-size) * (200em)!default;

/* Constrain content widths to maintain an optimal measure (line-length). */
$wrapper-max-width:     45em!default;


/* ==========================================================================
    BRANDING
   ========================================================================== */

/* Default brand colour. */
$brand-color:           rgb(31, 117, 204)!default;

/* Default colour for objects and borders. */
$brand-background:      rgb(252,252,252)!default;
$brand-border:          rgb(238,238,238)!default;

/* Link colours. */
$link-color: 			      $brand-color!default;
$link-hover-color: 		  darken($brand-color, 10%)!default;

/* The default size of rounded corners. */
$brand-radius:          3px!default;

/* UI elements colours, used in badges, buttons, labels, etc. */
$brand-danger:          #d9534f!default;
$brand-info:            #5bc0de!default;
$brand-primary:         #428bca!default;
$brand-success:         #5cb85c!default;
$brand-warning:         #f0ad4e!default;


/* ==========================================================================
    HEADINGS
   ========================================================================== */

/* Heading sizes specified in em. */
// Don't spec them in px or % or things will break... horribly!
// Embrace ems. Free yourself.
$h1-size:          	    3em!default;
$h2-size:               2.25em!default;
$h3-size:               1.5em!default;
$h4-size:               1.3125em!default;
$h5-size:               1.125em!default;
$h6-size:               1em!default;

/* Heading weight. */
$heading-font-weight:   400!default;


/* ==========================================================================
    TYPE SIZING
   ========================================================================== */

/* Type (up)sizing classes */
$giga-size:             6em!default;
$mega-size:             4.5em!default;
$kilo-size:             3em!default;

/* Type (down)sizing classes */
$milli-size:            0.83em!default;
$micro-size:            0.75em!default;

/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */

/* Default quote marks. If you're French you'll want to change these. */
$open-quote:            \201C!default;
$close-quote:           \201D!default;


/* ==========================================================================
    DEFAULT BREAKPOINTS
   ========================================================================== */
/* Specifying breakpoints in ems accounts for user-initiated resizes. */
$palm:                  20em!default;
$lap:                   45em!default;
$portable:              62em!default;
$desk:                  90em!default;
$deskwide:              120em!default;


/* ==========================================================================
    OPTIONAL MODULES
   ========================================================================== */

/* The following modules can be enabled in ui/_variables.scss if required. */
$use-breadcrumbs:       false!default;
$use-buttons:           false!default;
$use-fluid-type:        false!default;
$use-grid:              false!default;
$use-joomla-modules:    false!default;
$use-labels:            false!default;
$use-media:             false!default;
$use-nav:               false!default;
$use-pagination:        false!default;
$use-rows:              false!default;
$use-tables:            false!default;
$use-wells:             false!default;
$use-wrapper:           false!default;
