
/* ==========================================================================
   Package:	Oneweb CSS framework
   Version: 	1.0
   Created: 	April 2013
   ========================================================================== */

/* ==========================================================================
 * WARNING!!
 * =========
 *
 * Avoid editing this file, or any file within the framework folder!
 * Doing so will make it impossible to update without breaking your template.
 * Alterations and additions should be made within UI folder only.
 *
 * From the UI folder it's easy to disable almost any part of the framework,
 * add to it or modify any aspect of it. Making modifications within the
 * framework folder is doing it the hard way!
   ========================================================================== */


/* Let's start importing framework stuff! */
@import "defaults";

/* Ensure our mixins are available to all modules by loading them first. */
@import "generic/mixins";

/* Normalise default browser renderings to eliminate quirks. */
@import "generic/normalise";



/* Ethereal items like mixins, and helpers like float or clearfix. */
@import "generic/helper";
@import "generic/vertical-rhythm";

/*
 * The following rules contain generic styles of the type applicable primarily
 * to named html elements, like <body>, <table> , or to stylistic classes
 * that can be applied to various objects.
 */
@import "elements/root";
/* This needs to override default root font size, so we load it after. */
@import "generic/fluid-type";

@import "elements/code";
@import "elements/figures";
@import "elements/forms";
@import "elements/headings";
@import "elements/images";
@import "elements/links";
@import "elements/lists";

@import "elements/rules";
@import "elements/tables";
@import "elements/typesizing";
@import "elements/typography";

/*
 * The following are re-usable 'objects' that bring recurring CSS patterns
 * into discrete and easily maintainable modules.
 */
@import "objects/breadcrumbs";
@import "objects/buttons";
@import "objects/labels";
@import "objects/media";
@import "objects/joomla-modules";
@import "objects/nav";
@import "objects/pagination";

@import "objects/rows";
@import "objects/wells";
@import "objects/wrapper";

/*
 * These following need to override some base element styles,
 * so we'll load them last.
 */

/* Override any defaults like display: block on objects. */
@import "generic/grid";
@import "generic/widths";
