
/* ==========================================================================
    FOOTER
   ========================================================================== */

.footer-row {
	background: $brand-color;

	/* Offset the content container as we're padding the grid items */
	.content {
		@include media-query(lap) {
			margin-left: -$double-spacing-unit;
		}
	}

	/* Make each module a grid item */
	.module {

		@extend .grid-item;

		/* And give it a width on larger screens */
		@include media-query(lap) {
			@extend .lap-one-half;
			margin-bottom: 0;
			padding-left: $double-spacing-unit;
		}
	}
}


[role="contentinfo"] {

	blockquote {
		border: none;
		margin: 0;
		padding: 0;
	}

	img {
		@include box-shadow(0 1px 0px 1px rgba(255,255,255, 0.25));
		height: 60px;
		border-radius: 100%;
	}

	a {
		color: #fff;
	}
}

.credit-row {
	background: darken($brand-background, 78%);
    text-align: center;
    color: #fff;
}

/* social icons */
.social {
	@extend .grid-item;
	@extend .nav;

	@include media-query(lap) {
		@extend .lap-two-thirds;
		margin-bottom: 0;
		text-align: left;
	}
}
/* social icons */
.copyright {
	@extend .grid-item;
	font-weight: 400;

	@include media-query(lap) {
		@extend .lap-one-third;
		text-align: right;
	}
}
