
/* ==========================================================================
    HEADER
   ========================================================================== */

.header-row {
	border-bottom: 1px solid $brand-border;
    text-align: center;

	@include media-query(lap) {
		text-align: left;
	}
}
