@if $use-nav == true or $use-pagination == true or $use-breadcrumbs == true {

/* ==========================================================================
    NAVIGATION
   ========================================================================== */

/* Remove list styles and throw child elements into a horizontal list. */
.nav {
    list-style: none;

    li {
        display: inline-block;

        a {
            padding: $half-spacing-unit / 4;
        }
    }

}

/* Creates a vertical list of blocky, finger-friendly, links. */
.nav-stacked {

    li {

        &,
        a {
            display: block;
        }
    }
}

}//endif
