@if $use-rows == true {

/* ==========================================================================
    ROWS
   ========================================================================== */

	/* Gives the sections some breathing space */
	[class*="-row"] {
		padding: $single-spacing-unit $single-spacing-unit 0;
		@include transition(padding .3s ease);
		@include media-query(desk) {
			padding: $double-spacing-unit $single-spacing-unit $single-spacing-unit;
		}
	}

	.header-row,
	.credit-row {
		padding-bottom: $single-spacing-unit;
	}

}//endif
