
/* ==========================================================================
    LINKS
   ========================================================================== */

a {
	@include transition;
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
	    color: $link-color-hover;
	}
}
